#headerInfo {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.productImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}

.productInfo {
    text-align: center;
    padding-top: 50px;
}

#personImg {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: block;
}

#personName, #personRole, #personInfo, .center {
  text-align: center;
}

.spacing {
    width: 100%;
    height: 100px;
}

#footer {
    background-color: #a2b9bc;
}